**/*.xcodeproj/
**/flatui.build/
*.vcxproj*
*.sln
*.log
*.tlog
*.obj
*.lib
*.exp
*.pdb
*.cbp
*.suo
*.sdf

bin/
obj/
docs/html/
libs/
gen/

Makefile
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user

libflatui.a

sample/CMakeScripts/
sample/CMakeFiles/
sample/bin/
sample/apks/
sample/obj/
sample/gen/
sample/libs/
sample/build.xml
sample/local.properties
sample/project.properties
sample/proguard-project.txt
sample/src_java/
sample/assets/fonts/
sample/assets/shaders/
sample/flatuisample.dir/

sample_3d/assets/
sample_3d/gen/
sample_3d/apks/
sample_3d/build.xml
sample_3d/local.properties
sample_3d/proguard-project.txt
sample_3d/project.properties
sample_3d/src_java/

test/CMakeFiles/
test/apks/
test/assets/fonts/
test/assets/shaders/
test/bin/
test/build.xml
test/gen/
test/libs/
test/local.properties
test/proguard-project.txt
test/project.properties
test/src_java/
test/flatuitest.dir/
